$primary-color: #03002ef9;
$secondary-color: #fff;
$background-color: #d8d8d8;

.profile {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    .p-box {
        width: 50%;
        border: 1px solid #4e4e4e7f;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 8px;
    }
    .profile-dp {
        width: 250px;
        height: 250px;
        margin-top: 30px;
        border-radius: 50%;
        border: 1px solid #000;
        overflow: hidden;
        img {
            width: 250px;
            transition: .6s;
            scale: 1.1;
        }
        img:hover {
            scale: 1.2;
        }
    }
    .profile-name {
        width: 250px;
        
        p {
            background: #07015ff9;
            color: $background-color;
            padding: 20px;
        }
    }
}

@media (max-width: 600px) {
    .profile .p-box {
        width: 80%;
    }
}
@media (max-width: 400px) {
    .profile .p-box {
        width: 90%;
    }
    .profile .profile-dp,.profile .profile-dp img {
        width: 150px;
        height: 150px;
    }
    .profile .profile-name p {
        padding: 10px;
        width: 60%;
    }
    .profile .profile-name {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}