.footer {
    display: flex;
    background: #cecece;
    border-top: 1px solid #00000054;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px;
}
.footer-center {
    width: 40%;
    padding: 0px 10px;
}
.footer-left {
    border-right: 1px solid #00000054;
    height: 300px;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-left .phone-number {
    margin-top: 20px;
}
.footer-left .location {
    margin-top: 16px;
    font-weight: bolder;
}
.footer-right {
    border-left: 1px solid #00000054;
    height: 300px;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-dark {
    background: #171717;
    color: #cecece;
    border-top: 1px solid #dbdbdb54
}
.footer-dark .footer-left {
    border-right: 1px solid #dbdbdb54;
}
.footer-dark .footer-right {
    border-left: 1px solid #dbdbdb54;
}
.sub {
    background: #cecece;
    border: 1px solid #0000009b;
    color: #171717;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.sub form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}  
.sub form input {
    background: #c8c8c8;
    width: 70%;
    color: #141411;
    border: 1px solid #0000009b;
    padding: 5px;
    height: 10px;
    outline: none;
}
.sub form input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 30px #c8c8c8 inset !important;
  -webkit-text-fill-color: #141414;
}
.sun form button {
    background: #171717;
    color: #cecece;
    width: 30%;
    padding: 5px;
    height: 20px;
}
.sub form button:hover {
    background: #141411;
    color: #000;
}

.sub-dark {
    background: #141411;
    color: #c8c8c8;
    border: 1px solid #bebebe54;
}
.sub-dark form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    background: #141414;
}  
.sub-dark form input {
    background: #c8c8c8;
    width: 70%;
    color: #141411;
    border: 1px solid #0000009b;
    padding: 5px;
    height: 10px;
    outline: none;
}
.sub-dark form input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 30px #c8c8c8 inset !important;
  -webkit-text-fill-color: #141414;
}
.sun-dark form button {
    background: #171717;
    color: #cecece;
    width: 30%;
    padding: 5px;
    height: 20px;
}
.sub-dark form button:hover {
    background: #c8c8c8;
    color: #000;
}

@media (max-width: 700px) {
    .footer {
        flex-direction: column;
    }
    .footer-left {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        border-right: none;
        border-bottom: 1px solid #00000054;
    }
    .footer-right {
        width: 100%;
        justify-content: center;
        border-left: none;
        height: auto;
        border-top: 1px solid #00000054;
    }
    .footer-dark .footer-right {
        width: 100%;
        justify-content: center;
        border-left: none;
        border-top: 1px solid #dbdbdb54;
    }
    .footer-dark .footer-left {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #dbdbdb54;
    }
    .footer-center {
        width: 100%;
        padding-bottom: 20px;
    }
    .sub form input {
        width: 50%;
    }
}